.bodyBackgorund {
    background-image: url("https://pt.bcdn.biz/Images/2018/12/31/90e6b67b-5103-4905-9339-7ae38210fae2.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color:pink; 
      border-style:ridge;
      border-color:brown;
  }

  button {
    background-color: ;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
